In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold

from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

import warnings
warnings.filterwarnings(action='ignore')

In [3]:
data = pd.read_csv('higher_ed_sal.csv')

In [4]:
data.head()

,Name,School,Job Description,Department,Earnings,Year
0,Don Potter,University of Akron,Assistant Lecturer,Social Work,2472.00,2019
1,Emily Potter,The Ohio State University,Administrative Assistant 3,Arts and Sciences | Chemistry and Biochemistry...,48538.02,2022
2,Carol Jean Potter,The Ohio State University,Associate Professor-Clinical,Pediatrics,22722.80,2013
3,Kim Potter,The Ohio State University,"Manager 4, Compliance",Legal Affairs | Compliance,170143.44,2022
4,Graham Potter,Miami University,Building and Grounds Assistant,"Assoc VP Housing,Dining,Rec,Bus Svc",3075.20,2012

In [5]:
data.shape

(934348, 6)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934348 entries, 0 to 934347
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Name             934348 non-null  object
 1   School           934348 non-null  object
 2   Job Description  907680 non-null  object
 3   Department       873896 non-null  object
 4   Earnings         924673 non-null  float64
 5   Year             934348 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 42.8+ MB

In [7]:
null_values_per_column = data.isnull().sum() * 100 / len(data)

In [8]:
print(null_values_per_column)

Name               0.000000
School             0.000000
Job Description    2.854183
Department         6.469966
Earnings           1.035481
Year               0.000000
dtype: float64

In [9]:
data_cleaned = data.dropna()

In [10]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 848591 entries, 0 to 934347
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Name             848591 non-null  object
 1   School           848591 non-null  object
 2   Job Description  848591 non-null  object
 3   Department       848591 non-null  object
 4   Earnings         848591 non-null  float64
 5   Year             848591 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 45.3+ MB

In [11]:
data_cleaned.describe(include='all')

,Name,School,Job Description,Department,Earnings,Year
count,848591,848591,848591,848591,8.485910e+05,848591.000000
unique,246341,13,33832,9215,NaN,NaN
top,Michael Smith,The Ohio State University,Professor,University Hospitals,NaN,NaN
freq,64,423931,25419,45236,NaN,NaN
mean,NaN,NaN,NaN,NaN,5.466475e+04,2017.091136
std,NaN,NaN,NaN,NaN,6.274090e+04,3.219944
min,NaN,NaN,NaN,NaN,2.000000e-02,2011.000000
25%,NaN,NaN,NaN,NaN,1.950878e+04,2014.000000
50%,NaN,NaN,NaN,NaN,4.400688e+04,2017.000000
75%,NaN,NaN,NaN,NaN,7.101113e+04,2020.000000
max,NaN,NaN,NaN,NaN,8.021377e+06,2022.000000

In [12]:
# Dropping Name as we don't want to predict values based on Name
data_cleaned = data_cleaned.drop('Name',axis=1)

In [13]:
# Shuffle data to avoid bias, improve generalization, and fair evaluation
# Shuffle 100% of data without replacement and reset index afterwards
# drop=True to avoid creating new columns
data_cleaned = data_cleaned.sample(frac=1.0).reset_index(drop=True)

In [14]:
X = data_cleaned.drop('Earnings',axis=1)
y = data_cleaned['Earnings']

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848591 entries, 0 to 848590
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   School           848591 non-null  object
 1   Job Description  848591 non-null  object
 2   Department       848591 non-null  object
 3   Year             848591 non-null  int64
dtypes: int64(1), object(3)
memory usage: 25.9+ MB

In [16]:
# Use K Fold validation instead of traditioinal train-test split
# Train-test split we might get test set that isn't representative of train set
# K Fold: every training sample has a chance to be part of the test set

def build_pipeline(regressor):
    # regressor is model
    
    # transform categorical features into numeric
    # pipeline built to create more robust, efficient, and reusable machine learning workflows
    nominal_transformer = Pipeline(steps=[('onehot', OneHotEncoder(handle_unknown='ignore'))]) 
    # handle_unknown = 'ignore' for circumstances when unknown value shows up to avoid throwing error

    # tell model which features are categorical in dataframe
    cat_cols = ['School', 'Job Description', 'Department']
    preprocessor = ColumnTransformer(transformers=[
        ('nominal', nominal_transformer, cat_cols)], remainder='passthrough')
    # remainder='passthrough' to avoid dropping columns that aren't listed in cat_cols
    
    # create model
    model = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('scaler', StandardScaler(with_mean=False)), # scales data, so that each column has the same range of values 
        ('regressor', regressor)
    ])

    return model

In [17]:
models = {
    'Linear Regression (Ridge)': build_pipeline(Ridge()), # fits a linear model to the data, adding a regularization term to prevent overfitting
    'Decision Tree': build_pipeline(DecisionTreeRegressor()), # creates a tree-like model of decisions and their possible consequences
    'XGBoost': build_pipeline(XGBRegressor()), # builds decision trees in series (one after another) with a focus on reducing bias and variance
    # 'Neural Network': build_pipeline(MLPRegressor()), # a complex model inspired by the human brain, composed of interconnected layers of artificial neurons
    # 'Random Forest': build_pipeline(RandomForestRegressor()), # builds decision trees in parallel
    # 'GradientBoostingRegressor': build_pipeline(GradientBoostingRegressor()) # builds decision trees in series (one after another)
    }

In [18]:
# divides data set into K sections, standard is 5 or 10
# you get a variaty of test sets using K Fold
# larger K, the more data the model will have to train on, the less data the model will have to test on
# high K is more computational expensive

def evaluate_model(model, X, y):
    kf = KFold(n_splits=5)
    rmses = []
    rs2s = []
    # split x into 5 sections, provides indexes for each split
    # iteration 1: test index = 1st/5 of data, train index = 4/5
    # iteration 2: test index = 2nd/5 of data, train index = 3rd/5
    for train_idx, test_idx in kf.split(X): 
        # Fit model
        # X.iloc[train_idx, :] - train_idx=rows, : all cols
        # y.iloc[train_idx] - no need for cols, since it's one dimensional series
        model.fit(X.iloc[train_idx, :], y.iloc[train_idx])

        # Make predictions
        pred = model.predict(X.iloc[test_idx, :])

        # Calculate Root Mean Square Error (RMSE)
        rmse = np.sqrt(np.mean((y.iloc[test_idx]-pred)**2))
        rmses.append(rmse)

        # Calculate R2
        rs2 = 1 - (np.sum((y.iloc[test_idx]-pred)**2)/np.sum((y.iloc[test_idx]-y.iloc[test_idx].mean())**2)) 
        rs2s.append(rs2)

    # Return average RMSE and R2
    return np.mean(rmses), np.mean(rs2s)

In [19]:
for name, model in models.items():
    print(name + ' RMSE: {:.2F}'.format(evaluate_model(model, X, y)[0]))

Linear Regression (Ridge) RMSE: 37390.64
Decision Tree RMSE: 35911.95
XGBoost RMSE: 43532.81

In [20]:
for name, model in models.items():
    print(name + ' R2: {:.5F}'.format(evaluate_model(model, X, y)[1]))

Linear Regression (Ridge) R2: 0.64430
Decision Tree R2: 0.65266
XGBoost R2: 0.51805

The Decision Tree has a lower RMSE, indicating that its predictions are, on average, closer to the actual earnings values.

The Decision Tree also has a higher R², suggesting that it explains a larger proportion of the variance in earnings compared to the Ridge Regression model.

Therefore, the decision tree model has the best performance.

In [21]:
new_employees = pd.DataFrame({
    'School': ['Miami University', 'Miami University'],
    'Job Description': ['Professor','Professor'],
    'Department': ['Pediatrics','Social Work'],
    'Year': [2024, 2024]
})

In [22]:
# Make prediction on new dataset
predict_earnings = models['Decision Tree'].predict(new_employees)

In [23]:
new_employees['Predicted Earnings'] = predict_earnings

In [24]:
new_employees.head()

             School Job Description   Department  Year  Predicted Earnings
0  Miami University       Professor   Pediatrics  2024         115850.1325
1  Miami University       Professor  Social Work  2024         115850.1325

Testing H20 Library to identify best performing models

In [25]:
import h2o
from h2o.automl import H2OAutoML

In [26]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 24.0.1+9-30, mixed mode, sharing)
  Starting server from C:\Users\MFPADIL\AppData\Local\Programs\Python\Python313\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\MFPADIL\AppData\Local\Temp\tmpl6_o5lpn
  JVM stdout: C:\Users\MFPADIL\AppData\Local\Temp\tmpl6_o5lpn\h2o_MFPADIL_started_from_python.out
  JVM stderr: C:\Users\MFPADIL\AppData\Local\Temp\tmpl6_o5lpn\h2o_MFPADIL_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       America/New_York
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.7
H2O_cluster_version_age:    1 month and 1 day
H2O_cluster_name:           H2O_from_python_MFPADIL_55gcnh
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.916 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.13.1 final
--------------------------  ------------------------------

In [28]:
# Step 2: Convert pandas DataFrame to H2OFrame
# train = h2o.H2OFrame(data_cleaned)
train = h2o.H2OFrame(data_cleaned.sample(frac=0.5))  # Use 50% of the data for training
# Note: H2O requires a specific format for the data, so we convert it to H2OFrame

# Step 3: Define predictors and target
predictors = [col for col in train.columns if col != 'Earnings']  # All columns except target
target = 'Earnings'

# Step 4: Train H2O AutoML
aml = H2OAutoML(max_models=10, seed=1, max_runtime_secs=600, exclude_algos=["StackedEnsemble"]) 
# you can adjust max_models to control the number of models to train
# max_runtime_secs to limit the time spent on training
# exclude_algos=["StackedEnsemble"] to avoid ensemble models for simplicity
aml.train(x=predictors, y=target, training_frame=train, )

# Step 5: View leaderboard
lb = aml.leaderboard
print(lb)

# Step 6: Make predictions on new data
new_employees_h2o = h2o.H2OFrame(new_employees)
predictions = aml.leader.predict(new_employees_h2o)
new_employees['Predicted Earnings'] = predictions.as_data_frame().values.flatten()

# Display predictions
print(new_employees)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |
15:21:01.886: AutoML: XGBoost is not available; skipping it.

███████████████████████████████████████████████████████████████| (done) 100%
model_id                           rmse          mse      mae      rmsle    mean_residual_deviance
GBM_1_AutoML_2_20250429_152101  38083.3  1.45034e+09  16196.6  nan                     1.45034e+09
GBM_2_AutoML_2_20250429_152101  38716.5  1.49897e+09  18830.7  nan                     1.49897e+09
DRF_1_AutoML_2_20250429_152101  45883.6  2.10531e+09  22728.1    1.15113               2.10531e+09
GLM_1_AutoML_2_20250429_152101  62634.6  3.9231e+09   35836.7    1.53867               3.9231e+09
[4 rows x 6 columns]

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%
             School Job Description   Department  Year  Predicted Earnings
0  Miami University       Professor   Pediatrics  2024       108114.288016
1  Miami University       Professor  Social Work  2024       103247.384005

c:\Users\MFPADIL\AppData\Local\Programs\Python\Python313\Lib\site-packages\h2o\frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install polars and pyarrow and use it as pandas_df = h2o_df.as_data_frame(use_multi_thread=True)

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"